@mixin mQ($width) {
    @media (min-width: $width) {
        @content;
    }
}

header {
    background-color: rgb(168, 202, 161);
    height: 3.5em;
}

footer {
    background: darkslategray;
    text-align: center;
    color: darken($color: white, $amount: 10);
    a {
        padding: 0 0.3em;
        // height: 3em
    }
}

body {
    margin: 0;
    max-width: 80em;
    margin: auto;
    .drink-body {
        // display: none;
        @include mQ(30em) {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        @include mQ(50em) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    .drink-body-page {
        // display: none;
        // max-height: 70%;
    }
}
